In [66]:
import numpy as np
import pandas as pd

In [67]:
df=pd.read_csv("Unemployment_Rate_upto_11_2020.csv")

In [68]:
df.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Region.1,longitude,latitude
0,Andhra Pradesh,31-01-2020,M,5.48,16635535,41.02,South,15.9129,79.74
1,Andhra Pradesh,29-02-2020,M,5.83,16545652,40.90,South,15.9129,79.74
2,Andhra Pradesh,31-03-2020,M,5.79,15881197,39.18,South,15.9129,79.74
3,Andhra Pradesh,30-04-2020,M,20.51,11336911,33.10,South,15.9129,79.74
4,Andhra Pradesh,31-05-2020,M,17.43,12988845,36.46,South,15.9129,79.74

In [69]:
df.tail()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Region.1,longitude,latitude
262,West Bengal,30-06-2020,M,7.29,30726310,40.39,East,22.9868,87.855
263,West Bengal,31-07-2020,M,6.83,35372506,46.17,East,22.9868,87.855
264,West Bengal,31-08-2020,M,14.87,33298644,47.48,East,22.9868,87.855
265,West Bengal,30-09-2020,M,9.35,35707239,47.73,East,22.9868,87.855
266,West Bengal,31-10-2020,M,9.98,33962549,45.63,East,22.9868,87.855

In [70]:
df.shape

(267, 9)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 9 columns):
Region                                      267 non-null object
 Date                                       267 non-null object
 Frequency                                  267 non-null object
 Estimated Unemployment Rate (%)            267 non-null float64
 Estimated Employed                         267 non-null int64
 Estimated Labour Participation Rate (%)    267 non-null float64
Region.1                                    267 non-null object
longitude                                   267 non-null float64
latitude                                    267 non-null float64
dtypes: float64(4), int64(1), object(4)
memory usage: 18.9+ KB

In [72]:
df.describe()

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),longitude,latitude
count,267.000000,2.670000e+02,267.000000,267.000000,267.000000
mean,12.236929,1.396211e+07,41.681573,22.826048,80.532425
std,10.803283,1.336632e+07,7.845419,6.270731,5.831738
min,0.500000,1.175420e+05,16.770000,10.850500,71.192400
25%,4.845000,2.838930e+06,37.265000,18.112400,76.085600
50%,9.650000,9.732417e+06,40.390000,23.610200,79.019300
75%,16.755000,2.187869e+07,44.055000,27.278400,85.279900
max,75.850000,5.943376e+07,69.690000,33.778200,92.937600

In [73]:
x=df['Region']

In [74]:
x

0      Andhra Pradesh
1      Andhra Pradesh
2      Andhra Pradesh
3      Andhra Pradesh
4      Andhra Pradesh
5      Andhra Pradesh
6      Andhra Pradesh
7      Andhra Pradesh
8      Andhra Pradesh
9      Andhra Pradesh
10              Assam
11              Assam
12              Assam
13              Assam
14              Assam
15              Assam
16              Assam
17              Assam
18              Assam
19              Assam
20              Bihar
21              Bihar
22              Bihar
23              Bihar
24              Bihar
25              Bihar
26              Bihar
27              Bihar
28              Bihar
29              Bihar
            ...
237     Uttar Pradesh
238     Uttar Pradesh
239     Uttar Pradesh
240     Uttar Pradesh
241     Uttar Pradesh
242     Uttar Pradesh
243     Uttar Pradesh
244     Uttar Pradesh
245     Uttar Pradesh
246     Uttar Pradesh
247       Uttarakhand
248       Uttarakhand
249       Uttarakhand
250       Uttarakhand
251       Uttarakhand
252       Uttarakhand
253       Uttarakhand
254       Uttarakhand
255       Uttarakhand
256       Uttarakhand
257       West Bengal
258       West Bengal
259       West Bengal
260       West Bengal
261       West Bengal
262       West Bengal
263       West Bengal
264       West Bengal
265       West Bengal
266       West Bengal
Name: Region, Length: 267, dtype: object

In [75]:
y=df[' Estimated Unemployment Rate (%)']

In [76]:
y

0       5.48
1       5.83
2       5.79
3      20.51
4      17.43
5       3.31
6       8.34
7       6.96
8       6.40
9       6.59
10      4.66
11      4.41
12      4.77
13     11.06
14      9.55
15      0.60
16      3.77
17      5.53
18      1.19
19      3.02
20     10.61
21     10.29
22     15.43
23     46.64
24     45.96
25     17.82
26     12.79
27     13.44
28     11.91
29      9.82
       ...
237     7.58
238     8.98
239    10.11
240    21.54
241    20.41
242     9.47
243     5.56
244     5.79
245     4.18
246     3.75
247     5.49
248     4.99
249    19.85
250     6.48
251     8.01
252     8.61
253    12.38
254    14.26
255    22.26
256     9.23
257     6.94
258     4.92
259     6.92
260    17.41
261    17.41
262     7.29
263     6.83
264    14.87
265     9.35
266     9.98
Name:  Estimated Unemployment Rate (%), Length: 267, dtype: float64

In [77]:
df2=df.iloc[:,3]

In [78]:
df2

0       5.48
1       5.83
2       5.79
3      20.51
4      17.43
5       3.31
6       8.34
7       6.96
8       6.40
9       6.59
10      4.66
11      4.41
12      4.77
13     11.06
14      9.55
15      0.60
16      3.77
17      5.53
18      1.19
19      3.02
20     10.61
21     10.29
22     15.43
23     46.64
24     45.96
25     17.82
26     12.79
27     13.44
28     11.91
29      9.82
       ...
237     7.58
238     8.98
239    10.11
240    21.54
241    20.41
242     9.47
243     5.56
244     5.79
245     4.18
246     3.75
247     5.49
248     4.99
249    19.85
250     6.48
251     8.01
252     8.61
253    12.38
254    14.26
255    22.26
256     9.23
257     6.94
258     4.92
259     6.92
260    17.41
261    17.41
262     7.29
263     6.83
264    14.87
265     9.35
266     9.98
Name:  Estimated Unemployment Rate (%), Length: 267, dtype: float64

In [79]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\raman\anaconda3\lib\site-packages (5.15.0)
Requirement already satisfied: packaging in c:\users\raman\anaconda3\lib\site-packages (from plotly) (17.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\raman\anaconda3\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\raman\anaconda3\lib\site-packages (from packaging->plotly) (2.2.0)
Requirement already satisfied: six in c:\users\raman\anaconda3\lib\site-packages (from packaging->plotly) (1.11.0)

In [80]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\raman\anaconda3\lib\site-packages (21.3.1)

In [81]:
import plotly.express as px
import matplotlib.pyplot as plt

# Analyzing Data By Bar Graphs

In [ ]:
fg = px.bar(df,x='Region',y=' Estimated Unemployment Rate (%)',color='Region',
            title='Unemploymeny Rate (State Wise) by Bar Graph',template='plotly')
fg.update_layout(xaxis={'categoryorder':'total descending'})
fg.show()

# Analyzing Data By Box Plot

In [ ]:
fg = px.box(df,x='Region',y=' Estimated Unemployment Rate (%)',color='Region',
            title='Unemploymeny Rate (Statewise) by Box Plot',template='plotly')
fg.update_layout(xaxis={'categoryorder':'total descending'})
fg.show()

# Analyzing Data By Scatter Plot

In [ ]:
fg = px.scatter(df,x='Region',y=' Estimated Unemployment Rate (%)',color='Region',
                title='Unemploymeny Rate (Statewise) by Scatter Plot',template='plotly')
fg.update_layout(xaxis={'categoryorder':'total descending'})
fg.show()

# Analyzing Data By Histogram

In [ ]:
fg = px.histogram(df,x='Region',y=' Estimated Unemployment Rate (%)',color='Region',
                  title='Unemploymeny Rate (Statewise) by Histogram',template='plotly')
fg.update_layout(xaxis={'categoryorder':'total descending'})
fg.show()